* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Styles */
body {
  font-family: 'Playfair Display';
  font-size: 20px;
  line-height: 1.3;
  background-color: #f4f4f4;
  color: #000;
}

/* .container {
  max-width: 1200px;
  margin: 0 auto;
} */

img {
  max-width: 100%;
}

header {
  background-color: #000;
  border-top: 5px solid #feea34;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  width: 75px;
}

a {
  text-decoration: none;
}

#main-nav a {
  display: block;
}

#main-nav {
  display: flex;
}

.hero {
  background-image: url(../assets/hero.jpg);
  background-size: cover;
  background-position: right top;
  padding-top: 110px;
  padding-bottom: 120px;
  margin-bottom: 30px;
}

.intro {
  max-width: 440px;
}

.hero .intro h2 {
  font-size: 36px;
  line-height: 1.33;
  font-weight: 700;
  margin-bottom: 30px;
}

.hero p {
  font-size: 24px;
}

#filter-nav {
  margin-bottom: 15px;
}

#filter-nav a {
  color: #000;
  font-size: 16px;
  margin-right: 10px;
}

.selected {
  font-weight: bold;
  padding-bottom: 1px;
  border-bottom: 3px solid #feea34;
}

.products .container {
  display: flex;
  flex-wrap: wrap;
}

.product img {
  display: block;
}

.product {
  width: 33.333%;
  position: relative;
}

.products {
  margin-bottom: 40px;
}

/*
1. Hide the overlay
2. Position the overlay
3. Slightly transparent background
4. position price title and price in top and bottom left
*/

.overlay {
  opacity: 0;
  position: absolute;
  background-color: rgba(254, 234, 52, 0.7);
  width: 100%;
  height: 100%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  transition: all 0.4s;
}

.product:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.product h4,
.product p {
  font-weight: 700;
}

.product p {
  font-size: 36px;
}

.product h4 {
  font-size: 18px;
}
